<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>About</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/users">Users</a>
    </nav>
    <h2>This is a web server hosted on an EC2 instance for Devops CA2</h2>
    <h3>Student Number: 20108256<br>Ryan Jackman</h3>
    <h4>Course: BSc (Hons) in Applied Computing</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum finibus mi, eu interdum nunc. Vivamus aliquam tempor massa ut viverra. Nulla facilisi. Nunc bibendum hendrerit massa, vitae suscipit eros gravida egestas. Curabitur eleifend fringilla sapien, non rutrum urna placerat eu. Integer viverra nibh a diam lobortis, nec molestie metus vulputate. Nullam tempor nisi non sem aliquam, condimentum ultrices quam scelerisque. Sed tellus velit, finibus sed pellentesque vel, luctus vitae lectus.<br><br>

Pellentesque blandit vestibulum nisi, sed malesuada orci elementum ac. Etiam commodo et arcu at semper. Aliquam erat volutpat. Aenean imperdiet eros ac diam mollis, eu porttitor lectus lacinia. Mauris tincidunt, mauris ac semper imperdiet, turpis neque faucibus quam, id accumsan nibh tortor non urna. Maecenas nec felis pharetra, eleifend neque et, condimentum metus. Cras tempor est malesuada massa vestibulum porttitor. Praesent hendrerit nisi nunc, et sollicitudin elit laoreet eget. Nullam ut ligula et diam semper congue et tristique metus. In non ullamcorper tellus, nec porta orci.<br><br>

Curabitur hendrerit tincidunt ex, et facilisis odio ultrices id. Pellentesque quis urna quis urna vulputate convallis vitae sit amet lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nibh, ornare sit amet orci eu, viverra vehicula sapien. Quisque pharetra massa vitae mattis convallis. Quisque justo magna, consectetur congue aliquet ac, ornare quis sem. Duis a leo ut magna sollicitudin mattis ac ac velit. Morbi sed massa auctor, venenatis risus vitae, faucibus ex. Morbi non neque id orci sodales semper. In imperdiet efficitur libero quis pharetra.<br><br>

Nullam pharetra tortor purus. Nulla facilisi. In hac habitasse platea dictumst. Duis hendrerit, ante vel maximus tincidunt, lacus diam ultrices risus, tincidunt maximus leo nibh at dolor. Nunc vitae eros accumsan, luctus nibh sed, iaculis lectus. Suspendisse et vulputate odio, in sollicitudin metus. Vivamus convallis leo eget tempor elementum. Morbi scelerisque sapien et varius vehicula. Integer tempus viverra elit, eget interdum sapien pellentesque in. Sed vulputate nisi non tellus vestibulum varius. Nam faucibus nec odio sed placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed non velit eget nunc fringilla tempus sodales vel dolor. Nunc luctus quam vel magna pulvinar, et pretium lectus rutrum. Praesent et metus congue, ornare mi sed, bibendum velit.<br><br>

Sed ut rhoncus tortor. Nam sed placerat augue. Vestibulum et tincidunt mi. Cras in ultricies ante. Vestibulum placerat rutrum congue. Sed dapibus sagittis turpis, eu ornare tellus viverra at. Nulla pellentesque porttitor eleifend. In at nisi quis lacus egestas suscipit sed facilisis mi. Aliquam venenatis, sem nec porttitor malesuada, neque ipsum consectetur diam, id rutrum risus felis id enim. Nulla vitae lectus hendrerit nulla cursus placerat. Nullam vulputate dui eros, sit amet dictum nibh suscipit id. Fusce facilisis laoreet dui, non dictum dolor imperdiet at.
    </p>
  </body>
</html>
