<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Welcome to my Home Page</h1>
    <a href="/about">About</a>
    <a href="/users">Users</a>
  </body>
</html>
